*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    background-color: #E67E22;

}
#main{
    height: 100%;
    width: 100%;
}
nav{
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: space-between;
    padding: 3vw; 
    width: 100%;
    height: 10vh;
    z-index: 4;
}
nav a,i{
    text-decoration: none;
    font-size: 1.3vw;
    color: beige;
}
.center-nav{
    display: flex;
    align-items: center;
    gap: 8vw;
}
.one{
    width: 100%;
    height: 120vh;
    background:linear-gradient(170deg,#E67E22 30%,#F2D99C);
    display: flex;
    justify-content: center;
}
.one #mainpic{
    z-index: 2;
    width: 80vh;
    height: 80vh;
    position: absolute;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}
.one h1{
    font-size: 20vw;
    position: absolute;
    top: 32%;
    color: bisque;
}

#lemonslice{
    width: 15%;
    height: 30%;
    position: absolute;
    top: 10%;
    left: 36%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;

    z-index: 1;
}
#spice{
    position: absolute;
    width: 20%;
    top: 78%;
    left: 50%;
    z-index: 3;
}
#leaf3{
    position: absolute;
    width: 20%;
    top: 20%;
    left: 80%;
}
#leaf22{
    position: absolute;
    width: 20%;
    top: 80%;
    right: 92%;
    /* transform: rotate(84deg); */
}
#leaf2{
    position: absolute;
    width: 14%;
    top: 10%;
    left: -7%;
    transform: rotate(-110deg); 
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;

}
.right-two{
    width: 50%;
    height: 100vh;
    background-color: #E67E22;
    display: flex;
    flex-direction: column;
    color: bisque;
    justify-content: center;
    text-align: center;
    padding: 20px;
}
.right-two p{
    font-size: 1.3vw;
}
.right-two h2{
    text-align: center;
    padding-bottom: 4%;
    font-size: 3.8vw;
}
.left-two{
    width: 50%;
    height: 100vh;
    background-color: #F2D99C;
    display: flex;
    align-items: center;
    justify-content: center;
}
.two{
    display: flex;
}
.left-two {
    background-color: #78422e;
}
.left-two #svg{
    transform: rotateX(70deg);
    background-color: #78422e;
    width: 70%;
    margin-top: 70vh;
}
.three{
    width: 100%;
    height: 150vh;
    background-color: rgb(223, 149, 65);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    border-radius: 20px;
    position: relative;
}
.three .card-1{
    width: 25vw;
    height: 80vh;
    background-color: #985423;
    border-radius: 12px;
    
}
.three .card-2{
    width: 25vw;
    height: 80vh;
    border-radius: 12px;
    background-color: #dfae44;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
 .three .card-3{
    width: 25vw;
    border-radius: 12px;
    height: 80vh;
    background-color: #52681f;
}
.card-1 h1{
    font-size: 2vw; 
    margin-top: 60vh;
    text-align: center;
}
.card-1 button{
    font-size: 1vw; 
    border-radius: 50px;
    padding: 1vw 2vw;
    border: none;
    background-color:#78422e ;
    display: flex;
    margin-left: 33%;
}
.card-2 h1{
    font-size: 2vw; 
    margin-top: 60vh;
    text-align: center;
}
.card-2 button{
    font-size: 1vw; 
    border-radius: 50px;
    padding: 1vw 2vw;
    border: none;
    background-color:#78422e ;
    display: flex;
    margin-left: 6%;
}

.card-3 h1{
    font-size: 2vw; 
    margin-top: 60vh;
    text-align: center;
}
.card-3 button{
    font-size: 1vw; 
    border-radius: 50px;
    padding: 1vw 2vw;
    border: none;
    background-color:#78422e ;
    display: flex;
    margin-left: 30%;
}
#kashmiri{
    position: absolute;
    top: 15%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
    left: 1%;
}
#elachi{
    position: absolute;
    top: 5%;
    left: 13%;
    height: 530px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}
